/* apply everywhere */
* {
    box-sizing: border-box;
}

/* format body */
body {
    margin: 10px;
    padding: 0px;
    color: #000000;
    background-color: #ffffff;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

/* format p */
p {
    margin: 0px;
    color: #000000;
    font-size: 1em;
    text-align: left;
    clear: right;
}

/* format h1 */
h1 {
    margin: 25px 0px 10px 0px;
    color: #000000;
    font-size: 1.75em;
    text-align: center;
}

/* format header */
header {
    margin: 0px;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
}

/* format section as box with 10px padding */
/* default is mobile view */
section {
    margin: 0px;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    float: left;
}

/* div contains contents inside section */
/* affects only div immediately inside section */
section > div {
    margin: 0px;
    padding: 15px;
    background-color: #cccccc;
    border: 1px solid #000000;
}

/* affects all h2 inside section */
section h2 {
    margin: 0px;
    padding: 5px 15px 5px 15px;
    font-size: 1.25em;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 150px;
    text-align: center;
    float: right;
    position: relative;
    top: -15px;
    right: -15px;
}

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 50%;
        float: left;
    }
    #thirdsection {
        width: 100%;
    }
}

/* desktop view */
@media (min-width: 992px) {
    section {
        width: 33.33%;
        float: left;
    }
}

/* ids for colored h2 boxes */
#chicken {
    color: #222222;
    background-color: #ff9999;
}

#beef {
    color: #eeeeee;
    background-color: #990000;
}

#sushi {
    color: #222222;
    background-color: #ffff99;
}